.app-link-button {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: x-large;
  font-weight: 700;
  font-family: 'Trebuchet MS';
  background: transparent;
  overflow: hidden;
  border: none;
  transition: font-size 0.3s ease;
  z-index: 0;
}

/* Blurred background layer */
.app-link-button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #777777;
  filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

/* Bottom orange line */
.app-link-button::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 20px;
  /* adjust if you want slight padding */
  right: 20px;
  height: 4px;
  background-color: #ff4800;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
  z-index: 1;
  border-radius: 10px;
}

/* Hover effects */
.app-link-button:hover::before {
  opacity: 1;
}

.app-link-button:hover::after {
  transform: scaleX(1);
}

.app-link-button:hover {
  font-size: xx-large;
}

.selectedlinkapp{
  width: 5px;
  height: 80%;
  border-radius: 20px;
  background-color: #ff4800;
}